*{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    margin: 20px;
}

.Main-Header{
    display: flex;
    color: #BE32F5;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
}

.header-2 input{
    border-radius: 40px;
    padding: 10px;
    width: 900px;
}

.header-2 input:focus{
    outline: none;
}

.header-3{
    align-items: center;
    display: flex;
    gap: 20px;
}

.header-3 a{
    text-decoration: none;
    color: #BE32F5;
}

.header-3 a:hover{
    color: #be32f5bd;
}

.header-3 img{
    width: 25px;
    height: 25px;
}

.courses{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.courses p{
    border: 2px black solid;
    border-radius: 40px;
    padding: 15px;
    background-color: #BE32F5;;
    color: white;
}

.courses p:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.main-content{
    display: flex;
}

.sub-content{
    margin-top: 100px;
}

.sub-content-1{
    margin-left:250px;
    width: 100%;
    padding: 35px;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.08);
}

.sub-content-1 h1{
    color: black;
}
.sub-content-1 p{
    font-size: 20px;
}
.sub-content-2{
    width: 150%;
    border: 2px solid black;
    margin-top: 90px;
    margin-left: 190px;
    line-height: 6px;
    padding: 30px
}

.sub-content-2 h2{
    margin-left: 10px;
}
.sub-content-2 p{
    margin-left: 10px;
    font-size: 15px;
}

.main-content-image{
    width: 100%;
    margin-left: 570px;
}

.heading h1{
    margin-bottom: 0;
    color: black;
}
.heading p{
    margin-top: 0;
    font-size: 20px;
}

.image div img{
    width: 100%;
    margin-bottom: 0;
}

.image div img:hover{
    cursor: pointer;
    filter: brightness(80%);
}

.image div div h3{
    margin-top: 0;
    margin-bottom: 0;
}

.image div div p{
    margin-top: 0;
    font-size: 18px;
}

.image{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.Topics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Topics h3{
    padding: 12px;
    border: 1px solid black;
    width: 31%;
    margin-bottom: 2px;
    margin-top: 2px;
}

.Topics h3:hover{
    background-color: #BE32F5;
    cursor: pointer;
}

.heading-1 h1{
    margin-top: 90px;
    margin-bottom: 0;
    color: black;
}
.heading-1 p{
    margin-top: 5px;
    font-size: 20px;
}

.footer{
    background-color: black;
}

.footer-main{
    display: flex;
}

.footer-1{
    margin-top: 35px;
    color: white;
    margin-left: 30px;
    margin-right: 50px;
}

.footer-3{
    margin-top: 35px;
    color: white;
}

.footer-2{
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}